# URL base da API REST (.NET). Em produção: https://api.seudominio.com
NEXT_PUBLIC_API_URL=/api

# true = intercepta chamadas com MSW (Mock Service Worker) usando as fixtures em src/mocks
NEXT_PUBLIC_API_MOCKING=true

# URL pública do site (usada em metadata, sitemap e robots)
NEXT_PUBLIC_SITE_URL=http://localhost:3210
